.body{
    background: black;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.body form {
    width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 10px;
}

.body input {
    padding: 4px;
    width: 99%;

    border-radius: 10px;
}

.body button {
    width: 50%;

    padding: 5px;

    border: none;

    background-color: #ecbe13;
    color: white;

    font-weight: 600;

    cursor: pointer;
}

.body h1 {
    font-family: Ubuntu;

    color: #ecbe13;

    margin-bottom: 20px;

    font-size: 19px;
}